@page "/bingo"

@using PictureBingo.Data

@inject BingoService BingoService

<h1>Bingoooo!</h1> 
<div> 
    <p>Laatste plaatje: 
        <img src=@LastDrawnNumber?.Path style="height:100px" />
    </p>
</div>
<div id=numbers>
    Available numbers:
    <ul>
        @foreach (var number in availableNumbers)
        {
            <li>@number.Name</li>
        }
    </ul>
</div>

<button @onclick=DrawNumber>Draw a number</button>
<div id=drawnnumber>
    <p>
        Drawn numbers:
    </p>
    <ul>
        @foreach (var number in drawnNumbers)
        {
            <li style="list-style-type:none"><img src=@number.Path style="height:100px; width:100px; object-fit:cover;" /></li>
        }
    </ul>
</div>

@code {
    List<BingoData> availableNumbers;
    
    List<BingoData> drawnNumbers = new List<BingoData>();

    BingoData LastDrawnNumber;

    protected override async Task OnInitializedAsync()
    {
        availableNumbers = await BingoService.GetBingoData();
    }

    private void DrawNumber() {
        if (availableNumbers.Count == 0)
            return;

        Random r = new Random();
        var drawnNumber = availableNumbers.OrderBy(n => r.Next()).First();

        drawnNumbers.Add(drawnNumber);
        availableNumbers.Remove(drawnNumber);
        LastDrawnNumber = drawnNumber;
    }
}